# AttributeError: module 'numpy' has no attribute 'int'.
# `np.int` was a deprecated alias for the builtin `int`. To avoid this error in existing code, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
# The aliases was originally deprecated in NumPy 1.20; for more details and guidance see the original release note at:
# https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
numpy == 1.20.0

pybullet == 2.8.1

# AttributeError: module 'numpy.typing' has no attribute 'NDArray'
pillow == 8.4.0
matplotlib == 3.1.3

opencv-python >= 3.4.2.17

trimesh == 3.9.33
omegaconf == 2.3.0

# Exception: pyglet 2.0.10 requires Python 3.8 or newer.
pyrender == 0.1.45
hydra-core == 1.3.2

# ImportError: cannot import name 'Mapping' from 'collections' (/usr/lib/python3.10/collections/__init__.py)
# Deprecated after Python 3.3 and removed in Python 3.9
# https://docs.python.org/3.9/whatsnew/3.9.html#collections-abc
urdfpy == 0.0.22

scipy

# ImportError: cannot import name 'OSMesaCreateContextAttribs'.
# Need a specific version of PyOpenGL (forked & modified by mmatl) for pyrender to run headlessly using OSMesa. Otherwise, we will get python 
pyopengl @ git+https://github.com/mmatl/pyopengl.git@76d1261adee2d3fd99b418e75b0416bb7d2865e6
